body {
    --color-primary: #ff6100;
    --color-secondary: #001052;
    --color-tertiary: #055d06;
    --color-accent: #62bd63;
    --color-error: #ff0000ff;
    --color-success: #055d06;

    --border-radius: 11px;

    margin:0;
    height: 100vh;
    background: url(./background.png);
    background-size: cover;
    font-family: Verdana, sans-serif;
    color: #001052;
    overflow: auto;
}


/* NAVIGATION BAR */
.logo img{
    position: absolute;
    float: left;
    width: 182px;
    height: 67px;
    margin-top: 1%;
}

.nav-bar{
    width: 100%;
    height: 100px;
    background-color: white;
}
.nav-links{
    list-style: none;
    float: right;
    display: flex;
    font-size: 20px;
    text-align: center;
    margin-top: 2.5%;
}

li a{
    color:#001052;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 50px;
}
li a:hover{
    background: #62bd63;
}

hr.nav{
    margin-top: auto;
    border-top: 3px solid #001052;
    width: 100%;
}

/* BODY TEXT */
.body-text{
    display: flex;
    justify-content: right;
    padding-top: 5rem;
    padding-left: 6rem;
}

.container {
    display: flex;
    justify-content: left;
    width: 50%;
    height: 500px;
    margin: 1rem;
    padding: 2rem;
    border-radius: var(--border-radius);
    background-color: #ffffff;
    outline-color: #ff6100;
    outline-style: solid;
    outline-width: .5rem;
}
.welcome{
    display: block;
    width: 400px;
    border-left: 3px solid #ff6100;
    height: 572px;
    padding-left: 15px;
    font-size: 50px;
    text-align: center;
    margin-top: -4%;
    color: #055d06;
}
a{
    text-decoration: none;
    color: #62bd63;
}
button{
    height: 40px;
    width: 154px;
    font-size: 18px;
    font-family: Verdana, sans-serif;
    border-radius: 11px;
    background-color: #001052;
    color: white;
    margin-top: -10%;
    align-self: center;
}
button:hover{
    background-color: #404c7e;
}

.form input{
    height: 30px;
    width: 300px;
    border-radius: 11px;
    border-color: #001052;
    padding-left: 15px;
    padding-top: 0px;
}
.form input:focus{
    border-color: #ff6100;
}
#user-info{
    position: absolute;
    background-color: white;
    padding-top: .5%;
    margin-left: 1%;
}
span{
    color: white;
}
#msg{
    color: red;
}
