body {
    --color-primary: #ff6100;
    --color-secondary: #001052;
    --color-tertiary: #055d06;
    --color-accent: #62bd63;
    --color-error: #ff0000ff;
    --color-success: #055d06;

    --border-radius: 11px;

    margin:0;
    height: 100vh;
    font-family: Verdana, sans-serif;
    color: #001052;
    overflow: auto;
}


/* NAVIGATION BAR */
.logo img{
    position: absolute;
    float: left;
    width: 182px;
    height: 67px;
    margin-top: 1%;
}

.nav-bar{
    width: 100%;
    height: 100px;
    background-color: white;
}
.nav-links{
    list-style: none;
    float: right;
    display: flex;
    font-size: 20px;
    text-align: center;
    margin-top: 2.5%;
}

li a{
    color:#001052;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 50px;
}
li a:hover{
    background: #62bd63;
}

hr.nav{
    margin-top: auto;
    border-top: 3px solid #001052;
    width: 100%;
}

/* BODY TEXT */
h1{
    font-size: 56px;
    text-align: center;
}
#containers{
    display: flex;
}
.update-container{
    width: 600px;
    height: 530px;
    outline-color: #ff6100;
    outline-style: solid;
    border-radius: 11px;
    margin-right: 1%;
    display:block;
    float: left;
}
#map{
    width: 1250px;
    height: 530px;
    outline-style: solid;
    border-radius: 11px;
    margin-right: 1%;
    display:block;
    float: right;
}
h3{
    background-color: white;
    position: absolute;
    margin-left: 5%;
    margin-top: -.75%;
}