<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale =1.0">
        <meta charset="utf-8">
        <title>WeGo | Home</title>
        <link rel="stylesheet" href="..\static\account.css">
    </head>

    <body>
        <div class='heading'>
            <h4> WeGo </h4>
        </div>
        <ul class='nav-links'>
            <li><a href="./home.html">Home</a></li>
            <li><a href="./login.html">Logout</a></li>
        </ul>
        <div class="body-text"> 
            <h1>Account Page</h1>
            <p>Login Success</p>
        </div>
    </body>
</html>