<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale =1.0">
        <meta charset="utf-8">
        <title>WeGo | Order</title>
        <link rel="stylesheet" href="..\static\order.css">
    </head>

    <body>
        <div class='heading'>
            <h4> WeGo </h4>
        </div>
        <ul class='nav-links'>
            <li><a href="./account.html">Home</a></li>
        </ul>

        <div class="body-text"> 
            <h1>Order Page</h1>
        </div>
    </body>
</html>