<!DOCTYPE html>

<html>
    <head>
        <title>WeGo | Create Account</title>
        <meta name="viewport" content="width=device-width, initial-scale =1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" href="..\static\register.css">
    </head>

    <body>
        <div class='nav-bar'>
            <h4> WeGo </h4>
        <ul class='nav-links'>
            <li><a href="./home.html">Home</a></li>
        </ul>
        </div>
        <div class="body-text">
            <div class="container" id="createAccount">
                <form action="" class ="form" id="login" method="post">
                    <h1 class="form__title">Create Account</h1>
                    <div class="form__input-group"> 
                        <label>Create Username</label><br>
                        <input name="username" type="text" placeholder="Enter Username"><br><br>
                    </div>
                    <div class="form--input-group">
                        <label>Create Password</label><br>
                        <input name="password" type="password" placeholder="Enter Password"><br><br>
                    </div>
                    <div class="form--input-group">
                        <label>Re-enter Password</label><br>
                        <input name="password" type="password" placeholder="Re-enter Password"><br><br>
                    </div>
                    <div class="form--input-group">
                        <label>Enter Email</label><br>
                        <input name="email" type="email" placeholder="example@email.com"><br><br>
                    </div>
                    <div class="form--input-group">
                        <label>Enter Phone Number</label><br>
                        <input name="number" type="number" placeholder="(123)-456-7890"><br><br>
                    </div>
                    <button type="submit">Create Account</button>
                    <p class="form__text">
                        <a href="./login.html" id="linkLogin" class="link">Have an account? Login.</a>
                    </p>
                </form>
            </div>
        </div>
        
    </body>
</html>