<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale =1.0">
        <meta charset="utf-8">
        <title>WeGo | Track Orders</title>
        <link rel="stylesheet" href="..\static\tracking.css">
        <!-- MS Code written by Anne 
        <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
        <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>
        <script src="https://api.mqcdn.com/sdk/place-search-js/v1.0.0/place-search.js"></script>
        <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/place-search-js/v1.0.0/place-search.css"/>
        -->
    </head>
    <!--
    <h2>Pick-Up</h2>
    <div id="origin">{{ origin }}</div>
    <h2>Drop-Off</h2>
    <div id="destination">{{ destination }}</div>
    </div>
      <button id="form-send" type="button" class="">See route</button>&nbsp;&nbsp;
    </div>
    -->

    <body>
        <div class='heading'>
            <h4> WeGo </h4>
        </div>
        <ul class='nav-links'>
            <li><a href="./account.html">Home</a></li>
        </ul>

        <div class="body-text"> 
            <h1>Tracking Page</h1>
        </div>
        <!--
        <div id="map" style="width: 100%; height: 530px;"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/route.js') }}"></script>
        -->
    </body>
</html>